@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');

@font-face {
    font-family: campana;
    src: url(../fontes/CampanaScript.otf) format(opentype);
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0:#f8f7e5;
    --cor1:#CBDFBD;
    --cor2:#D4E09B;
    --cor3:#F19C79;
    --cor4:#e7717b;
    --cor5:#A44A3F;
    --cor6:#47150e;

    --font-padrao: Verdana Helvetica, Arial, sans-serif;
    --font-destaque: 'campana', cursive;
    --font-titulos: 'Faculty Glyphic', cursive;
    --font-cursiva: 'Imperial Script', cursive;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, rgb(248, 197, 197), rgb(252, 225, 225));
    font-family: var(--font-padrao);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    min-height: 150px;    
    padding-top: 20px;
}

header > h1 {
    text-align: center;
    color: white;
    font-family: var(--font-destaque);
    font-weight: normal;
    font-size: 5em;
    margin-bottom: 5px;
    text-shadow: 2px 2px 3px rgba(0,0,0, 0.267);
}

header > p {
    font-family:var(--font-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 30px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.315);
    text-align: center;
}

nav {
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.192);
}

nav > a {
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}

section#s1 {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font-titulos);
    font-size: 3.5vw;
    font-weight: normal;
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
    background-size: cover;
    background-attachment: fixed;
    background-image: url('../imagens/comidanova.jpg');
    background-position: center center;
}

section#s1 > h1 {
    font-family: var(--font-cursiva);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px rgba(0,0,0, 0.267);
}

section#s1 > h2 {
    font-size: 1em;
    margin-bottom: 20px;
    text-shadow: 3px 3px 3px rgba(0,0,0, 0.267);
    font-family: 'Times New Roman', Times, serif;
}

h2#ph2 {
    text-align: center;
    font-family: var(--font-titulos);
    font-size: 4em;
    margin-top: 40px;
    margin-bottom: 20px;
    color: var(--cor6);
    text-shadow: 3px 3px 3px rgba(0,0,0, 0.267);
}
section#s2 {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}

section#s2 p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}

section#s2 img {
    width: 100%;
}

section#s3 {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
}

section#s3 h2 {
    text-align: center;
    font-family: var(--font-titulos);
    font-size: 2.5em;
    background-color: var(--cor5);
    border-radius: 10px 10px 0px 0px;
    margin: -20px -20px 10px -20px;
    color: white;
    text-shadow: 2px 2px 0px rgba(0,0,0, 0.267);
}

section#s3 > article {
    margin-bottom: 20px;
}

main#dts3 {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
}

article.art1 {
    flex: auto;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 400px;
    padding: 10px;
}

a > article > picture > img {
    border-radius: 10px;
    flex: auto;
}

div {
    margin-left: 15px;
    flex: auto;
}

div > p {
    text-align: justify;  
}

main > a {
    display: flex;
    text-decoration: none;
    color: var(--cor6);   
    transition-duration: 0.5s;
}

main > a:hover {
    color: var(--cor6);
    text-shadow: 1px 1px 0px rgba(0,0,0, 0.267);
    background-color: rgba(255, 208, 208, 0.685);
    border-radius: 10px;
}

#seta {
    text-align: center;
    margin: 5px;
}

p#seta > a > i {
    font-size: 4em;
    color: var(--cor6);
    transition-duration: 0.5s;
}

p#seta > a > i:hover {
    color: var(--cor3);
    text-shadow: 1px 1px 0px rgba(0,0,0, 0.267);
}

section#s4 {
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.685);
    padding-bottom: 10px;
    height: 225px;
    font-family: var(--font-titulos);
    font-size: 1em;
    font-weight: normal;
    background-color: #333333;    
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
}

section#s4 > h2 {
    text-align: center;
    font-size: 3em;
    color: white;
    margin-bottom: 20px;
    background-image: linear-gradient(to right, var(--cor4), #333333);
    padding: 5px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

li > a {
    color: white;
    font-size: 2em;
    text-decoration: none;
    transition-duration: 0.5s;
}

li > a:hover {
    color: var(--cor3);
    text-shadow: 1px 1px 0px rgba(0,0,0, 0.267);
}

li {
    color: var(--cor4);
}

footer {
    background-color: var(--cor4);
    color: var(--cor1);
    text-align: center;
    padding: 3px;
    font-size: 1.1em;
}
#final {
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

#final:hover {
    color: var(--cor3);
    text-shadow: 1px 1px 0px rgba(0,0,0, 0.267);
}